.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 -100.79%, #FDC830 100-100.79%);
}
img{
    width: 829px;
    position: absolute;
    right: -168px;
}
